<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <h2>What the hell?!</h2>
    <p>Type your desired stock ticker into the URL: 1. /MSFT, 2. /ORCL, 3. /AAPL, OR send a message to backend.</p>
    <form action="/postData" method="POST">
        <input type="text" name="message" placeholder="message">
        <button type="submit">Send to backend</button>
    </form>   
</html>